/*,i create it,*/

html{background:#3BB4F5;}
header{padding: 20px;}
header img{
/*   width: 20%; */
float: left;
}
header h2{
    float: right;
    font-family: cursive;
    font-size: 16px;
    margin-top: 50px;
}
footer{
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}
footer p{
    font-family: verdana;
    font-size: 16px;
}
.clear{
    width: 100%;
    height: 0px;
    clear: both;
}

aside{
    width: 20%;
    float: left;
    min-height: 200px;
    margin-right: 20px;
}

aside a{
    display: block;
    margin: 5px;
}

#page
{
   float: left;
   width: 850px;
   overflow: auto;
}

.contents{
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    min-height: 350px;
    overflow: hidden;
}
.contents h2
{
 float: right;
 font-family: verdana;
 font-size: 16px;
 color: blue;
}
.logincont{
    width: 800px;
    margin: 50px auto;
}
.btn-danger{
   border-radius: 5px;
   padding: 7px 15px;
   background:#3BB4F5;
}

.btn-danger:hover{
   text-decoration: none;
}

.register{
    width: 40%;
    float: left;
    min-height: 500px;
}
.login{
    width: 30%;
    float: right;
    margin-right: 50px;
}

.register input[type="text"],.register input[type="email"],.register input[type="password"], .login input[type="text"],.login input[type="password"]
{
    display: block;
    width: 250px;
    border: 1px solid #ddd;
    margin: 10px;
    font-size: 14px;
}

.register h1,.login h1
{
    font-family: verdana;
    font-size: 20px;
}

.mainsettingsform
{
    width: 400px;
    float: left;
}
.mainsettingsform label
{
    width: 150px;
    float: left;   
}

.mainsettingsform input
{
   width: 250px;
   height: 30px;
   padding: 3px 5px;
   border: 1px solid #999;
   border-radius: 5px;
   display: block;
   margin-bottom: 10px;
   
}

.mainsettingsform textArea
{
   display: block;
   width: 250px;
   border-radius: 5px;
   border: 1px solid #999;
   margin-bottom: 10px;
   height: 90px;
}

.mainsettingsform input[type="submit"]
{
    height: 40px;
    text-align: center;
    margin: 50px 150px;
}

.add h1
{
    font-family: cursive;
    font-size: 16px;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 15px;
}

.add input[type="submit"]
{
   margin: 20px 150px; 
}
.sectiontable th
{
   color: #900;
   background: #ff9 !important;
}

.sectiontable td img
{
    max-width: 24px;
    margin: 5px;
}

.newPage input[type="file"]
{
    border: 0px;
}
.newPage textarea
{
    width: 650px;
    height: 170px;
}
.imgs
{
    width: 850px;
}
.imglib 
{
    
}

.imglib img
{
    width: 200px;
    margin-right: 10px;
   /* height: 200px;*/
    margin-bottom: 10px;
}

.imglib img:last-child
{
   
    margin-right: 0px;
}
.imglib p
{
    width: 170px;
    float: left;
    padding: 10px;
    margin: 5px;
    border: 1px solid #999 ;
    border-radius: 10px;
}

.checkbox
{
    margin-bottom: 20px;
    position: absolute;
    width: 20px !important;
    z-index: 999;
    
}



.right{
    float: right;
    padding:5px;
    width: 100%;
    margin: 20px 5px;
    background: #fff;
    border-radius: 5px;
    
    min-height: 400px;
}
.gimg{
    width: 180px;
    color: #444;
    text-align: center;
    float:left;
    height: 474px;
    margin: 10px;
}
.gim{
    width: 100%;
    height: 200px;
    border-radius: 5px; 
}

.gim:last-child
{
   
    margin-right: 0px;
}
.x 
{
    max-width: 24px;
    margin: 5px;
}
/* LIST #5 */
.y{
    color:#990000;  
}
.z{
    color:#337ab7;
}
#list5 {
    margin-left: 180px;
}
#list5 ul { font-size:25px; }
.xx 
{
    max-width: 20px;
    margin: 5px;
   
}
.h1x{
 
    font-family: cursive;
    font-size: 16px;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 15px;
    color:#337ab7;
}
.h1xx{
 
    font-family: cursive;
    font-size: 16px;
   
    margin-bottom: 25px;
    color:#990000;
    margin-left: 300px;
}

div#pages {
display: block;
clear: both;
margin-top: 10px;
margin-left: 320px;
color:#c51732;
}

div#pages a{
    color:#c51732;
}

#buy,#registerstatus, #loginstatues
{
    color:#c51732;
    width: 150px;
}
/*-------------------------------------------------------------------------------------*/
.center_content{
width:800px;
float:left;
padding:5px 10px 5px 15px;

}
.center_title_bar{
width:575px;
height:31px;
float:left;
padding:0 0 0 10px;
margin:10px 0 0 5px;
line-height:31px;
font-size:15px;
color:#c51732;
font-weight:bold;
background:url(bar_bg.gif) no-repeat center;
}
.center_title_bar a{
    text-decoration:none; 
    font-size:20px;
}
.prod_box_big{
width:554px;
height:auto;
float:left;
padding:10px 10px 15px 15px;

}
.center_prod_box_big{
width:554px;height: auto;float:left; text-align:center;padding:0 0 10px 0; margin:0px;border:1px #F0F4F5 solid;
}
.product_img_big{
width:100px;
padding:10px 0 0 10px;
float:left;
}
.product_img_big img{
width:200px;
padding:10px 0 0 10px;
float:left;
}
.details_big_box{
width:345px;
float:right;
padding:0 0 0 15px;
text-align:right;
}
.product_title_big{
color:#c51732;
padding:5px 0 5px 0;
font-weight:bold;
font-size:14px;
}
span.blue{
color:#159DCC;
}
a.prod_buy, .prod_details {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 1px 2px 1px #aaa;
  color: #c51732;
  display: block;
  float: left;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  margin: 5px !important;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 75px;
}